.person-top{
    width: 100%;
    height: 5.555556rem;
    display: flex;
    justify-content: center;
}
.person-top_bgImg{
    width: 100%;
    height: 5.555556rem;
    position: absolute;
    top: 0; 
}
.person-top_bgImg img{
    width: 100%;
    height: 5.555556rem;
}
.person-top_info{
    z-index: 3;
    color: #fff;
}
.person-top_personImg{
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
}
.person-top_personImg img{
    width: 1.851852rem

}
.person-top_welcome{
    color: #fff;
    font-size: .37037rem;
}
.person-top_seletor{
    padding-top: 1.111111rem;
    width: 100%;
    text-align: center;
}
.person-top_seletor span{
    margin-right: .37037rem;
    margin-left: .37037rem;
}
.highLight{
    border-bottom: 1px solid #b59644;
}